@tailwind base;
@tailwind components;
@tailwind utilities;


.input-field {
  @apply border border-gray-300 p-2 rounded w-full;
}

.btn-primary {
  @apply bg-orange-500 text-white py-2 px-4 rounded hover:bg-orange-600;
}

.btn-secondary {
  @apply bg-gray-200 text-gray-700 py-2 px-4 rounded hover:bg-gray-300;
}


/* Add to your global.css file */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


 @keyframes wave {
   0%, 100% { transform: scaleY(1); }
   50% { transform: scaleY(2); }
 }
 .animate-wave {
   animation: wave 1s ease-in-out infinite;
 }


 .only-mobile {
  display: block;
}
@media (min-width: 640px) {
  .only-mobile {
    display: none;
  }
}

/* Show only on desktop (640px and up) */
.only-desktop {
  display: none;
}
@media (min-width: 640px) {
  .only-desktop {
    display: block;
  }
}

.grecaptcha-badge {
  visibility: hidden !important;
}